.header-swiper
	.swiper
		.swiper-wrapper
			.swiper-slide
				.dsc
					span.h1 разработка
					span.yellow сочных, неповторимых
					span.h1 логотипов
					h2 От стартапов до крупного бизнеса
					h2 Мы знаем как сделать чтобы вас заметили
					button.yellow Разработать логотип
				.img
					picture
						source(srcset="/assets/img/head-slider/01.webp" type="image/webp")
						img(src="/assets/img/head-slider/01.png")
					.role
						span.name Александ Иванов
						span.position Веб-разработчик

			.swiper-slide
				.dsc
					span.h1 разработка
					span.yellow сочных, неповторимых
					span.h1 логотипов
					h2 От стартапов до крупного бизнеса
					h2 Мы знаем как сделать чтобы вас заметили
					button.yellow Разработать логотип
				.img
					picture
						source(srcset="/assets/img/head-slider/02.webp" type="image/webp")
						img(src="/assets/img/head-slider/02.png")
					.role
						span.name Михаил Сунцов
						span.position Директор

.cases
	.wrapper
		h2 Наши кейсы
		h3 по созданию логотипов
		p.anchor В портфолио более 50 оформленых кейсов в 30-ти сферах деятельности
		section
			#masonry
				.block
					figure
						img(src="/assets/img/masonry/01.jpg")
						figcaption Разработка логотипа для ООО «ПОЛСПО»
					figure
						img(src="/assets/img/masonry/02.jpg")
						figcaption Nostrud commodo sint labore irure consectetur dolor
					figure
						img(src="/assets/img/masonry/03.jpg")
						figcaption Mollit commodo sunt quis amet
				.block
					figure
						img(src="/assets/img/masonry/07.jpg")
						figcaption Pariatur labore proident labore duis ullamco nisi
					figure
						img(src="/assets/img/masonry/08.jpg")
						figcaption Nostrud commodo sint labore irure consectetur dolor
					figure
						img(src="/assets/img/masonry/09.jpg")
						figcaption Mollit commodo sunt quis amet
				.block
					figure
						img(src="/assets/img/masonry/04.jpg")
						figcaption Pariatur labore proident labore duis ullamco nisi
					figure
						img(src="/assets/img/masonry/05.jpg")
						figcaption Nostrud commodo sint labore irure consectetur dolor
					figure
						img(src="/assets/img/masonry/06.jpg")
						figcaption Mollit commodo sunt quis amet
					figure
						img(src="/assets/img/masonry/10.jpg")
						figcaption Mollit commodo sunt quis amet
					figure
						img(src="/assets/img/masonry/11.jpg")
						figcaption Mollit commodo sunt quis amet
			.float
				.inner
					p Наши клиенты получили более
					span.h1.yellow 1 млн.
					span.h1 заявок
					p и смогли заработать более
					span.h1.yellow 9 млрд.
					span.h1 рублей
					button.yellow Хочу заработать
		button.yellow.more Смотреть еще	

.testimonials
	.wrapper
		h2.yellow Реальные отзывы
		h3 владельцев бизнеса

		.test-swiper.swiper
			.swiper-wrapper
				.swiper-slide
					.header
						img.userpic(src="/assets/img/icons/userpic.svg")
						.dsc
							span.name Иванов Иван Иванович
							span.role Генеральный директор ООО”Бакстройинвест»
					.txt
						p В 1ой итерации кол-во правок неограниченно, но они не должны противоречить предыдущим правкам и согласованным решениям на предыдущих этапах согласования (референсы, эскиз).		
					.video

						iframe(
							width="100%"
							src="https://www.youtube.com/embed/Y8Wp3dafaMQ&autoplay=1"
							srcdoc=`
							<style>
								*{padding:0;margin:0;overflow:hidden}
								html,body{height:100%}
								a{display: flex;height: 100%;align-items: center; justify-content: center}
								img.main{position:absolute;width:100%;top:0;bottom:0;margin:auto}
								img.play{position: relative; width: 100px; height: 100px;}
							</style>
							
							<a href=https://www.youtube.com/embed/Y8Wp3dafaMQ?autoplay=1>
								<img class="main" src=https://img.youtube.com/vi/Y8Wp3dafaMQ/hqdefault.jpg>
								<img class="play" src="/assets/img/icons/play.png"/>
							</a>`
							frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen
							loading="lazy"
							title="The Dark Knight Rises: What Went Wrong? – Wisecrack Edition")
				.swiper-slide
					.header
						img.userpic(src="/assets/img/icons/userpic.svg")
						.dsc
							span.name Иванов Иван Иванович
							span.role Генеральный директор ООО”Бакстройинвест»
					.txt
						p В 1ой итерации кол-во правок неограниченно, но они не должны противоречить предыдущим правкам и согласованным решениям на предыдущих этапах согласования (референсы, эскиз).		
					.video
						img.ph(src="/assets/img/icons/video.svg")
						img.play(src="/assets/img/icons/play.png")
				.swiper-slide
					.header
						img.userpic(src="/assets/img/icons/userpic.svg")
						.dsc
							span.name Иванов Иван Иванович
							span.role Генеральный директор ООО”Бакстройинвест»
					.txt
						p В 1ой итерации кол-во правок неограниченно, но они не должны противоречить предыдущим правкам и согласованным решениям на предыдущих этапах согласования (референсы, эскиз).		
					.video
						img.ph(src="/assets/img/icons/video.svg")
						img.play(src="/assets/img/icons/play.png")
				.swiper-slide
					.header
						img.userpic(src="/assets/img/icons/userpic.svg")
						.dsc
							span.name Иванов Иван Иванович
							span.role Генеральный директор ООО”Бакстройинвест»
					.txt
						p В 1ой итерации кол-во правок неограниченно, но они не должны противоречить предыдущим правкам и согласованным решениям на предыдущих этапах согласования (референсы, эскиз).		
					.video
						img.ph(src="/assets/img/icons/video.svg")
						img.play(src="/assets/img/icons/play.png")
		.arrows
			img.test-prev(src="/assets/img/icons/arrow_prev.svg")
			img.test-next(src="/assets/img/icons/arrow_next.svg")
		.dsc
			p Для нас <b>хороший логотип</b> - тот, который принял заказчик. Мы знаем, что вы, как никто другой, заинтересованы в успешном результате и хотите, чтобы Ваша компания имела свое собственное запоминающееся лицо.			
			button.yellow Разработать логотип
.how_much
	.wrapper
		.header
			h2 Сколько стоит
			h3 разработать логотип<br> в москве
		section
			.block
				p.type Простой
				ul
					li 2 уникальные концепции
					li до 2ух итераций (правок) утвержденного варианта
				.price
					span 6000 <span>руб.</span>
				button.yellow Выбрать пакет
			.block
				p.type Стандарт
				ul
					li 3 уникальные концепции
					li до 3ух итераций (правок) утвержденного варианта
				.price
					span 9000 <span>руб.</span>
				button.yellow Выбрать пакет
			.block
				p.type Расширенный
				ul
					li 5 уникальных концепций
					li до 5ти итераций (правок) утвержденного варианта
				.price
					span 14500 <span>руб.</span>
				button.yellow Выбрать пакет
.term
	.header
		h2 Срок разработки
		p Именно столько в среднем занимает разработка логотипа. Мы не делаем работу бесконечно долго, делая все новые и новые итерации. 
	figure
		img(src="/assets/img/icons/circle.png")
.employees
	.wrapper
		h2 над вашим проектом будут <br>работать
		section
			.block
				figure
					img(src="/assets/img/employees/01.png")
					figcaption Дмитрий
				.role
					span Дизайнер-иллюстратор	
			.block
				figure
					img(src="/assets/img/employees/02.png")
					figcaption Анастасия
				.role
					span UX/UI-дизайнер	
			.block
				figure
					img(src="/assets/img/employees/03.png")
					figcaption Алина
				.role
					span Графический дизайнер
.process
	.wrapper
		.dsc
			h2 Процесс создания логотипа
			.swiper.process-swiper
				.swiper-wrapper
					.swiper-slide
						dl
							dt 1. заявка на логотип
							dd
								p.yellow Вы оставляете заявку на разработку
								p Позвоните нам или оставьте заявку на сайте, чтобы начать приятное сотрудничество.
					.swiper-slide
						dl
							dt 2. выяснение потребностей
							dd
								p.yellow Мы узнаем Ваши вкусы
								p Наши опытные дизайнеры не только хорошо рисуют, но и отлично умеют понимать что нравится заказчику. Поэтому готовая работа - это именно то, что вы просили.
					.swiper-slide
						dl
							dt 3. разработка вариантов
							dd
								p.yellow Разрабатываем 2-3 черновых варианта
								p Чтобы точно определиться какой логотип нужен мы занимаемся разработкой сразу нескольких вариантов в совершенно разных концепциях.
					.swiper-slide
						dl
							dt 4. работа над вариантом
							dd
								p.yellow Делаем ваш логотип неповторимым
								p Из выбранной концепции мы создаем именно то, что подойдет вашей компании и, конечно, понравится Вам.
					.swiper-slide
						dl
							dt 5. готовый логотип
							dd
								p.yellow Передаем логотип Вам
								p После всех согласований мы передаем готовый логотип в векторном формате, что позволит использовать его где угодно.
								

								

		#player
.certified
	.wrapper
		h2 мы являемся <span>сертифицированными партнерами</span>
		.logos
			a(href="https://www.google.com/partners/agency?id=2851488653" target="_blank")
				img(src="/assets/img/icons/google_p.jpg")
			img(src="/assets/img/icons/hoster_p.jpg")
	.wave
		img(src="/assets/img/icons/purple_wave.svg" width="100%")
.clients
	.wrapper
		h2 Наши клиенты
		.clients1
			.swiper.clients-swiper1
				.swiper-wrapper
					.swiper-slide
						img(src="/assets/img/clients/01.jpg")
					.swiper-slide
						img(src="/assets/img/clients/02.jpg")
					.swiper-slide
						img(src="/assets/img/clients/03.jpg")
					.swiper-slide
						img(src="/assets/img/clients/04.jpg")
					.swiper-slide
						img(src="/assets/img/clients/05.jpg")
			.arrows
				img.clients_prev1(src="/assets/img/icons/clients_prev.svg")
				img.clients_next1(src="/assets/img/icons/clients_next.svg")
		.clients2
			.swiper.clients-swiper2
				.swiper-wrapper
					.swiper-slide
						img(src="/assets/img/clients/06.jpg")
					.swiper-slide
						img(src="/assets/img/clients/07.jpg")
					.swiper-slide
						img(src="/assets/img/clients/08.jpg")
					.swiper-slide
						img(src="/assets/img/clients/09.jpg")
					.swiper-slide
						img(src="/assets/img/clients/10.jpg")
			.arrows
				img.clients_prev2(src="/assets/img/icons/clients_prev.svg")
				img.clients_next2(src="/assets/img/icons/clients_next.svg")
.more
	h2 а ещё
	h3 мы можем оказать другие услуги:
	dl
		.column
			dt Нейминг
			dd Создание названия для компании, бренда, товара, мероприятия и др.
		.column
			dt Создание фирменного стиля 
			dd Разработка дизайна визиток, фирменных бланков, ручек, чашек и другой сувенирной продукции
		.column
			dt Разработка сайтов 
			dd Делаем работы по созданию web-дизайна, верстке, продвижению
.callback
	.wrapper
		.cta
			span.h3 Закажите
			span.h2 уникальный
			span.h3 логотип в москве
			p.like Понравился <span>наш подход в работе?</span>
			span.calc Мы рассчитаем и предложим Вам варианты работ.
		form
			h3 Будем рады помочь
			label
				span Ваше имя
				input(type="text" name="name" required)
			label
				span Телефон
				input(type="text" name="phone" required)
			label
				span Комментарий
				textarea
			.agree
				label
					input(type="checkbox" checked)
					.checkmark
					span Нажимая кнопку отправить заявку, даю согласие на обработку <a href="#">персональных данных*</a>
				input(type="submit" value="Отправить заявку")
